{% extends "base.html" %}

{% block title %}{% if form.update %}Edit{% else %}Create{% endif %} Group{% endblock %}

{% block bodyclass %}create-group{% endblock %}

{% block content %}
<h1>{% if form.update %}Edit{% else %}Create{% endif %} Group</h1>
<form action="." method="post" accept-charset="utf-8"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {{ form.as_p }}
    <p class="submit"><input type="submit" value="{% if form.update %}Edit{% else %}Create{% endif %} Group"></p>
</form>
{% endblock %}